.bigScreen {
    display: none;
}
.smallScreen {
    display: none;
}
@media screen and(max-width:768px) {
    .smallScreen {
        display: block;
    }
    table.table-bordered td{
        font-size: 8pt;
        padding: 0%;
    }
}

@media screen and(min-width:768px) {
    .bigScreen {
        display: block;
    }
    td{
        font-size: 14pt;
    }
}