<div class="container-fluid">
  <div class="row">
    <div class="col-10">
      <h1>Erfaringsskema</h1>
      <div class="accordion" id="accordion">
        <div class="card">
          <div class="card-header">
            <h5 class="mb-0">
              <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Barselomsorg generelt
              </button>
            </h5>
          </div>
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
             <div class="card-body">
               <table class="table table-bordered">
                <tbody>
                  <tr>
                    <td class="col-5" scope="row">
                      sdf
                    </td>
                    <td class="col-5">
                      
                      <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate()">Tilføj dato</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                sdfgdfg
              </button>
            </h2>
          </div>
          <div id="collapseTwo"class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
              sdgfsdf
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>