<h1>4 semester Erfaringsskema</h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-10">
      <h1>Erfaringsskema</h1>
      <div class="accordion" id="accordion" *ngFor="let erfaring of Erfaringsskema | async">
        <div class="card">
          <div class="card-header">
            <h5 class="mb-0">
              <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Barselomsorg generelt:
              </button>
            </h5>
          </div>
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
             <div class="card-body">
               <table class="table table-bordered">
                <tbody>
                  <tr>
                    <td class="col-5" scope="row">
                      Modtagelse af familie
                    </td>
                    <td class="col-5">
                      <input id="Firstdate" type="date" name="date" [(ngModel)]="date" value="">
                      <button name="Modtagelse af familie" class="btn btn-secondary btn-sm" (click)="OnAddDate()">Tilføj dato</button>
                      <input name="Dates" hidden type="text" [(ngModel)]="moreDates" value="{{erfaring.Modtagelseaffamilie}}" >
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      Samtale om og planlæggelse af barselsomsorg
                    </td>
                    <td class="col-5">
                      <input type="date" name="date2" [(ngModel)]="date2">
                      <button name="Samtale om og planlæggelse af barselsomsorg" class="btn btn-secondary btn-sm" (click)="OnAddDate2()">Tilføj dato</button>
                      <input name="Dates2" hidden type="text" [(ngModel)]="moreDates2" >
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      Vejledning i personlig hygiejne
                    </td>
                    <td class="col-5">
                      <input type="date" name="date3" [(ngModel)]="date3">
                      <button name="Vejledning i personlig hygiejne" class="btn btn-secondary btn-sm" (click)="OnAddDate3()">Tilføj dato</button>
                      <input name="Dates3" hidden type="text" [(ngModel)]="moreDates3" >
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      Vejledning om kvindes fysiologiske forandringer pp
                    </td>
                    <td class="col-5">
                      <input type="date" name="date4" [(ngModel)]="date">
                      <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate()">Tilføj dato</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      Observation af bristning og episisotomi
                    </td>
                    <td class="col-5">
                      <input type="date" name="date4" [(ngModel)]="date">
                      <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate()">Tilføj dato</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      vejledning ved bristning og episisotomi
                    </td>
                    <td class="col-5">
                      <input type="date" name="date4" [(ngModel)]="date">
                      <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate()">Tilføj dato</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      Palpation af uterus p.p.
                    </td>
                    <td class="col-5">
                      <input type="date" name="date4" [(ngModel)]="date">
                      <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate()">Tilføj dato</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      Observation og vejledning omkring lokkier
                    </td>
                    <td class="col-5">
                      <input type="date" name="date4" [(ngModel)]="date">
                      <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate()">Tilføj dato</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      Observartion af vandladning (mor)
                    </td>
                    <td class="col-5">
                      <input type="date" name="date4" [(ngModel)]="date">
                      <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate()">Tilføj dato</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      Give orientering og vejledning i knibeøvelser
                    </td>
                    <td class="col-5">
                      <input type="date" name="date4" [(ngModel)]="date">
                      <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate()">Tilføj dato</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      vejledning i ammeteknik
                    </td>
                    <td class="col-5">
                      <input type="date" name="date4" [(ngModel)]="date">
                      <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate()">Tilføj dato</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      Observation af og vejlede ved brystspænding
                    </td>
                    <td class="col-5">
                      <input type="date" name="date4" [(ngModel)]="date">
                      <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate()">Tilføj dato</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      Forebyggelse og pleje af ømme papiller
                    </td>
                    <td class="col-5">
                      <input type="date" name="date4" [(ngModel)]="date">
                      <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate()">Tilføj dato</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      Forebyggelse og pleje af papiller med fissurer
                    </td>
                    <td class="col-5">
                      <input type="date" name="date4" [(ngModel)]="date">
                      <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate()">Tilføj dato</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      Vejledning / observation omkring mastitis
                    </td>
                    <td class="col-5">
                      <input type="date" name="date4" [(ngModel)]="date">
                      <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate()">Tilføj dato</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      Vejledning om suttebrik
                    </td>
                    <td class="col-5">
                      <input type="date" name="date4" [(ngModel)]="date">
                      <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate()">Tilføj dato</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      Vejledning om / give mælk på kop
                    </td>
                    <td class="col-5">
                      <input type="date" name="date4" [(ngModel)]="date">
                      <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate()">Tilføj dato</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      Vejledning i Udmalkning manuelt, brystpumpe, håndpumpe
                    </td>
                    <td class="col-5">
                      <input type="date" name="date4" [(ngModel)]="date">
                      <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate()">Tilføj dato</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      Amning af gemelli
                    </td>
                    <td class="col-5">
                      <input type="date" name="date4" [(ngModel)]="date">
                      <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate()">Tilføj dato</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      Vejlede mor, der ikke ønsker at amme
                    </td>
                    <td class="col-5">
                      <input type="date" name="date4" [(ngModel)]="date">
                      <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate()">Tilføj dato</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      Brystopererede kvinder og amning
                    </td>
                    <td class="col-5">
                      <input type="date" name="date4" [(ngModel)]="date">
                      <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate()">Tilføj dato</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      Hypo-/hypergalakti
                    </td>
                    <td class="col-5">
                      <input type="date" name="date4" [(ngModel)]="date">
                      <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate()">Tilføj dato</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      Vejlede i vitamintilskud til barnet
                    </td>
                    <td class="col-5">
                      <input type="date" name="date4" [(ngModel)]="date">
                      <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate()">Tilføj dato</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      Vejlede i den normale barselspsyke
                    </td>
                    <td class="col-5">
                      <input type="date" name="date4" [(ngModel)]="date">
                      <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate()">Tilføj dato</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      Vejlede i søskende jalousi
                    </td>
                    <td class="col-5">
                      <input type="date" name="date4" [(ngModel)]="date">
                      <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate()">Tilføj dato</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      Samtale om familiens nye struktur
                    </td>
                    <td class="col-5">
                      <input type="date" name="date4" [(ngModel)]="date">
                      <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate()">Tilføj dato</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      Samtale om sex og samliv efter fødslen herunder prævention
                    </td>
                    <td class="col-5">
                      <input type="date" name="date4" [(ngModel)]="date">
                      <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate()">Tilføj dato</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      Vejledning om barnets behov/signaler
                    </td>
                    <td class="col-5">
                      <input type="date" name="date4" [(ngModel)]="date">
                      <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate()">Tilføj dato</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      Vejledning vedr. forældre-barn relation
                    </td>
                    <td class="col-5">
                      <input type="date" name="date4" [(ngModel)]="date">
                      <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate()">Tilføj dato</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      Observation af og omsorg for det nyfødte barn
                    </td>
                    <td class="col-5">
                      <input type="date" name="date4" [(ngModel)]="date">
                      <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate()">Tilføj dato</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      Vejledning omkring spædbarnspleje
                    </td>
                    <td class="col-5">
                      <input type="date" name="date4" [(ngModel)]="date">
                      <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate()">Tilføj dato</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      Afføring og vandladning
                    </td>
                    <td class="col-5">
                      <input type="date" name="date4" [(ngModel)]="date">
                      <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate()">Tilføj dato</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      Lejring af barn ved søvn
                    </td>
                    <td class="col-5">
                      <input type="date" name="date4" [(ngModel)]="date">
                      <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate()">Tilføj dato</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      Vejledning om PKU – blodprøve
                    </td>
                    <td class="col-5">
                      <input type="date" name="date4" [(ngModel)]="date">
                      <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate()">Tilføj dato</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      Tilrettelægge og udføre PKU
                    </td>
                    <td class="col-5">
                      <input type="date" name="date4" [(ngModel)]="date">
                      <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate()">Tilføj dato</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      Observation af og vejledning i emner som: Icterus, fødselssvulst, cephalhæmatom osv.
                    </td>
                    <td class="col-5">
                      <input type="date" name="date4" [(ngModel)]="date">
                      <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate()">Tilføj dato</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      Rapport ved vagtskifte
                    </td>
                    <td class="col-5">
                      <input type="date" name="date4" [(ngModel)]="date">
                      <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate()">Tilføj dato</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      Afholde udskrivningssamtaler
                    </td>
                    <td class="col-5">
                      <input type="date" name="date4" [(ngModel)]="date">
                      <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate()">Tilføj dato</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      Journalføring
                    </td>
                    <td class="col-5">
                      <input type="date" name="date4" [(ngModel)]="date">
                      <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate()">Tilføj dato</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      Hygiejne, fx sterilteknik
                    </td>
                    <td class="col-5">
                      <input type="date" name="date4" [(ngModel)]="date">
                      <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate()">Tilføj dato</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Omsorg for mor med kompliceret barsel:
              </button>
            </h2>
          </div>
          <div id="collapseTwo"class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
              <table class="table table-bordered">
                  <tbody>
                    <tr>
                      <td class="col-5" scope="row">Observation og pleje af mor med sphincterruptur</td>
                      <td class="col-5">
                        <input type="date" name="date4" [(ngModel)]="date">
                        <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate()">Tilføj dato</button>
                      </td>
                    </tr>
                    <tr>
                      <td class="col-5" scope="row">Højt BMI</td>
                      <td class="col-5">
                        <input type="date" name="date4" [(ngModel)]="date">
                        <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate()">Tilføj dato</button>
                      </td>
                    </tr>
                    <tr>
                      <td class="col-5" scope="row">Observation og pleje af mor i forbindelse med sectio</td>
                      <td class="col-5">
                        <input type="date" name="date4" [(ngModel)]="date">
                        <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate()">Tilføj dato</button>
                      </td>
                    </tr>
                    <tr>
                      <td class="col-5" scope="row">Administration af smertelindring, generelt og ved sectio</td>
                      <td class="col-5">
                        <input type="date" name="date4" [(ngModel)]="date">
                        <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate()">Tilføj dato</button>
                      </td>
                    </tr>
                    <tr>
                      <td class="col-5" scope="row">Antibiotika IV</td>
                      <td class="col-5">
                        <input type="date" name="date4" [(ngModel)]="date">
                        <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate()">Tilføj dato</button>
                      </td>
                    </tr>
                    <tr>
                      <td class="col-5" scope="row">Injektion IM</td>
                      <td class="col-5">
                        <input type="date" name="date4" [(ngModel)]="date">
                        <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate()">Tilføj dato</button>
                      </td>
                    </tr>
                    <tr>
                      <td class="col-5" scope="row">Medicin per os</td>
                      <td class="col-5">
                        <input type="date" name="date4" [(ngModel)]="date">
                        <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate()">Tilføj dato</button>
                      </td>
                    </tr>
                    <tr>
                      <td class="col-5" scope="row">Observation og pleje af mor med anæmi</td>
                      <td class="col-5">
                        <input type="date" name="date4" [(ngModel)]="date">
                        <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate()">Tilføj dato</button>
                      </td>
                    </tr>
                    <tr>
                      <td class="col-5" scope="row">Observation og pleje af mor med gestationel diabetes / diabetes mellitus</td>
                      <td class="col-5">
                        <input type="date" name="date4" [(ngModel)]="date">
                        <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate()">Tilføj dato</button>
                      </td>
                    </tr>
                    <tr>
                      <td class="col-5" scope="row">Observation og pleje af mor med infektion</td>
                      <td class="col-5">
                        <input type="date" name="date4" [(ngModel)]="date">
                        <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate()">Tilføj dato</button>
                      </td>
                    </tr>
                    <tr>
                      <td class="col-5" scope="row">Observation og pleje af mor med anæmi</td>
                      <td class="col-5">
                        <input type="date" name="date4" [(ngModel)]="date">
                        <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate()">Tilføj dato</button>
                      </td>
                    </tr>
                  </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>