<h1>4 semester Erfaringsskema</h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-10">
      <h1>Erfaringsskema</h1>
      <div class="accordion" id="accordion" *ngFor="let erfaring of experienceSchemas | async">
        <div class="card">
          <div class="card-header">
            <h5 class="mb-0">
              <button class="btn btn-primary" type="button" data-toggle="collapse show" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Barselomsorg generelt:
              </button>
            </h5>
          </div>
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
             <div class="card-body">
               <table class="table table-bordered">
                <tbody>
                  <tr>
                    <td class="col-5" scope="row">
                      Modtagelse af familie
                    </td>
                    <td class="col-5">
                      <input id="Firstdate" type="date" name="date" [(ngModel)]="date">
                      <button name="Modtagelse af familie" class="btn btn-secondary btn-sm" (click)="OnAddDate(erfaring.id, erfaring.Modtagelseaffamilie)">Tilføj dato</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      Samtale om og planlæggelse af barselsomsorg
                    </td>
                    <td class="col-5">
                      <input type="date" name="date2" [(ngModel)]="date2">
                      <button name="Samtale om og planlæggelse af barselsomsorg" class="btn btn-secondary btn-sm" (click)="OnAddDate2(erfaring.id, erfaring.SamtaleOmOgPlanlaeggelseAfBarselsomsorg)">Tilføj dato</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      Vejledning i personlig hygiejne
                    </td>
                    <td class="col-5">
                      <input type="date" name="date3" [(ngModel)]="date3">
                      <button name="Vejledning i personlig hygiejne" class="btn btn-secondary btn-sm" (click)="OnAddDate3(erfaring.id, erfaring.VejledningIPersonligHygiejne)">Tilføj dato</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      Vejledning om kvindes fysiologiske forandringer pp
                    </td>
                    <td class="col-5">
                      <input type="date" name="date4" [(ngModel)]="date4">
                      <button name="Vejledning om kvindes fysiologiske forandringer" class="btn btn-secondary btn-sm" (click)="OnAddDate4(erfaring.id, erfaring.VejledningOmKvindesFysiologiskeForandringerpp)">Tilføj dato</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      Observation af bristning og episisotomi
                    </td>
                    <td class="col-5">
                      <input type="date" name="date5" [(ngModel)]="date5">
                      <button name="Observation af bristning og episisotomi" class="btn btn-secondary btn-sm" (click)="OnAddDate5(erfaring.id, erfaring.ObservationAfBristningOgEpisisotomi)">Tilføj dato</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      Vejledning ved bristning og episisotomi
                    </td>
                    <td class="col-5">
                      <input type="date" name="date6" [(ngModel)]="date6">
                      <button name="Vejledning ved bristning og episisotomi" class="btn btn-secondary btn-sm" (click)="OnAddDate6(erfaring.id, erfaring.VejledningVedBristningOgEpisisotomi)">Tilføj dato</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      Palpation af uterus p.p.
                    </td>
                    <td class="col-5">
                      <input type="date" name="date7" [(ngModel)]="date7">
                      <button name="Palpation af uterus" class="btn btn-secondary btn-sm" (click)="OnAddDate7(erfaring.id, erfaring.PalpationAfUterus)">Tilføj dato</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      Observation og vejledning omkring lokkier
                    </td>
                    <td class="col-5">
                      <input type="date" name="date8" [(ngModel)]="date8">
                      <button name="Observation og vejledning omkring lokkier" class="btn btn-secondary btn-sm" (click)="OnAddDate8(erfaring.id, erfaring.ObservationOgVejledningOmkringLokkier)">Tilføj dato</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      Observartion af vandladning (mor)
                    </td>
                    <td class="col-5">
                      <input type="date" name="date9" [(ngModel)]="date9">
                      <button name="Observartion af vandladning" class="btn btn-secondary btn-sm" (click)="OnAddDate9(erfaring.id, erfaring.Observartionafvandladning)">Tilføj dato</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      Give orientering og vejledning i knibeøvelser
                    </td>
                    <td class="col-5">
                      <input type="date" name="date10" [(ngModel)]="date10">
                      <button name="Give orientering og vejledning i knibeøvelser" class="btn btn-secondary btn-sm" (click)="OnAddDate10(erfaring.id, erfaring.GiveOrienteringOgVejledningIKnibeoevelser)">Tilføj dato</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      Vejledning i ammeteknik
                    </td>
                    <td class="col-5">
                      <input type="date" name="date11" [(ngModel)]="date11">
                      <button name="vejledning i ammeteknik" class="btn btn-secondary btn-sm" (click)="OnAddDate11(erfaring.id, erfaring.VejledningIAmmeteknik)">Tilføj dato</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      Observation af og vejlede ved brystspænding
                    </td>
                    <td class="col-5">
                      <input type="date" name="date12" [(ngModel)]="date12">
                      <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate12(erfaring.id, erfaring.ObservationAfOgVejledeVedBrystspaending)">Tilføj dato</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      Forebyggelse og pleje af ømme papiller
                    </td>
                    <td class="col-5">
                      <input type="date" name="date13" [(ngModel)]="date13">
                      <button name="Forebyggelse og pleje af ømme papiller" class="btn btn-secondary btn-sm" (click)="OnAddDate13(erfaring.id, erfaring.ForebyggelseOgPlejeAfOemmePapiller)">Tilføj dato</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      Forebyggelse og pleje af papiller med fissurer
                    </td>
                    <td class="col-5">
                      <input type="date" name="date14" [(ngModel)]="date14">
                      <button name="Forebyggelse og pleje af papiller med fissurer" class="btn btn-secondary btn-sm" (click)="OnAddDate14(erfaring.id, erfaring.ForebyggelseOgPlejeAfPapillerMedFissurer)">Tilføj dato</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      Vejledning / observation omkring mastitis
                    </td>
                    <td class="col-5">
                      <input type="date" name="date15" [(ngModel)]="date15">
                      <button name="Vejledning / observation omkring mastitis" class="btn btn-secondary btn-sm" (click)="OnAddDate15(erfaring.id, erfaring.VejledningObservationOmkringMastitis)">Tilføj dato</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      Vejledning om suttebrik
                    </td>
                    <td class="col-5">
                      <input type="date" name="date16" [(ngModel)]="date16">
                      <button name="Vejledning om suttebrik" class="btn btn-secondary btn-sm" (click)="OnAddDate16(erfaring.id, erfaring.VejledningOmSuttebriks)">Tilføj dato</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      Vejledning om / give mælk på kop
                    </td>
                    <td class="col-5">
                      <input type="date" name="date17" [(ngModel)]="date17">
                      <button name="Vejledning om / give mælk på kop" class="btn btn-secondary btn-sm" (click)="OnAddDate17(erfaring.id, erfaring.VejledningOmGiveMaelkPåKop)">Tilføj dato</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      Vejledning i Udmalkning manuelt, brystpumpe, håndpumpe
                    </td>
                    <td class="col-5">
                      <input type="date" name="date18" [(ngModel)]="date18">
                      <button name="Vejledning i Udmalkning manuelt, brystpumpe, håndpumpe" class="btn btn-secondary btn-sm" (click)="OnAddDate18(erfaring.id, erfaring.VejledningIUdmalkningManueltBrystpumpeHåndpumpe)">Tilføj dato</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      Amning af gemelli
                    </td>
                    <td class="col-5">
                      <input type="date" name="date19" [(ngModel)]="date19">
                      <button name="Amning af gemelli" class="btn btn-secondary btn-sm" (click)="OnAddDate19(erfaring.id, erfaring.AmningAfGemelli)">Tilføj dato</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      Vejlede mor, der ikke ønsker at amme
                    </td>
                    <td class="col-5">
                      <input type="date" name="date20" [(ngModel)]="date20">
                      <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate20(erfaring.id, erfaring.VejledeMorDerIkkeOenskerAtAmme)">Tilføj dato</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      Brystopererede kvinder og amning
                    </td>
                    <td class="col-5">
                      <input type="date" name="date21" [(ngModel)]="date21">
                      <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate21(erfaring.id, erfaring.BrystopereredeKvinderOgAmning)">Tilføj dato</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      Hypo-/hypergalakti
                    </td>
                    <td class="col-5">
                      <input type="date" name="date22" [(ngModel)]="date22">
                      <button name="Hypo-/hypergalakti" class="btn btn-secondary btn-sm" (click)="OnAddDate22(erfaring.id, erfaring.HypoHypergalakti)">Tilføj dato</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      Vejlede i vitamintilskud til barnet
                    </td>
                    <td class="col-5">
                      <input type="date" name="date23" [(ngModel)]="date23">
                      <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate23(erfaring.id, erfaring.VejledeIVitaminTilskudTilBarnet)">Tilføj dato</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      Vejlede i den normale barselspsyke
                    </td>
                    <td class="col-5">
                      <input type="date" name="date24" [(ngModel)]="date24">
                      <button name="Vejlede i den normale barselspsyke" class="btn btn-secondary btn-sm" (click)="OnAddDate24(erfaring.id, erfaring.VejledeIDenNormaleBarselspsyke)">Tilføj dato</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      Vejlede i søskende jalousi
                    </td>
                    <td class="col-5">
                      <input type="date" name="date25" [(ngModel)]="date25">
                      <button name="Vejlede i søskende jalousi" class="btn btn-secondary btn-sm" (click)="OnAddDate25(erfaring.id, erfaring.VejledeISoeskendeJalousi)">Tilføj dato</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      Samtale om familiens nye struktur
                    </td>
                    <td class="col-5">
                      <input type="date" name="date4" [(ngModel)]="date">
                      <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate()">Tilføj dato</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      Samtale om sex og samliv efter fødslen herunder prævention
                    </td>
                    <td class="col-5">
                      <input type="date" name="date4" [(ngModel)]="date">
                      <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate()">Tilføj dato</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      Vejledning om barnets behov/signaler
                    </td>
                    <td class="col-5">
                      <input type="date" name="date4" [(ngModel)]="date">
                      <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate()">Tilføj dato</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      Vejledning vedr. forældre-barn relation
                    </td>
                    <td class="col-5">
                      <input type="date" name="date4" [(ngModel)]="date">
                      <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate()">Tilføj dato</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      Observation af og omsorg for det nyfødte barn
                    </td>
                    <td class="col-5">
                      <input type="date" name="date4" [(ngModel)]="date">
                      <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate()">Tilføj dato</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      Vejledning omkring spædbarnspleje
                    </td>
                    <td class="col-5">
                      <input type="date" name="date4" [(ngModel)]="date">
                      <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate()">Tilføj dato</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      Afføring og vandladning
                    </td>
                    <td class="col-5">
                      <input type="date" name="date4" [(ngModel)]="date">
                      <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate()">Tilføj dato</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      Lejring af barn ved søvn
                    </td>
                    <td class="col-5">
                      <input type="date" name="date4" [(ngModel)]="date">
                      <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate()">Tilføj dato</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      Vejledning om PKU – blodprøve
                    </td>
                    <td class="col-5">
                      <input type="date" name="date4" [(ngModel)]="date">
                      <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate()">Tilføj dato</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      Tilrettelægge og udføre PKU
                    </td>
                    <td class="col-5">
                      <input type="date" name="date4" [(ngModel)]="date">
                      <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate()">Tilføj dato</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      Observation af og vejledning i emner som: Icterus, fødselssvulst, cephalhæmatom osv.
                    </td>
                    <td class="col-5">
                      <input type="date" name="date4" [(ngModel)]="date">
                      <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate()">Tilføj dato</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      Rapport ved vagtskifte
                    </td>
                    <td class="col-5">
                      <input type="date" name="date4" [(ngModel)]="date">
                      <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate()">Tilføj dato</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      Afholde udskrivningssamtaler
                    </td>
                    <td class="col-5">
                      <input type="date" name="date4" [(ngModel)]="date">
                      <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate()">Tilføj dato</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      Journalføring
                    </td>
                    <td class="col-5">
                      <input type="date" name="date4" [(ngModel)]="date">
                      <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate()">Tilføj dato</button>
                    </td>
                  </tr>
                  <tr>
                    <td class="col-5" scope="row">
                      Hygiejne, fx sterilteknik
                    </td>
                    <td class="col-5">
                      <input type="date" name="date4" [(ngModel)]="date">
                      <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate()">Tilføj dato</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Omsorg for mor med kompliceret barsel:
              </button>
            </h2>
          </div>
          <div id="collapseTwo"class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
              <table class="table table-bordered">
                  <tbody>
                    <tr>
                      <td class="col-5" scope="row">Observation og pleje af mor med sphincterruptur</td>
                      <td class="col-5">
                        <input type="date" name="date4" [(ngModel)]="date">
                        <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate()">Tilføj dato</button>
                      </td>
                    </tr>
                    <tr>
                      <td class="col-5" scope="row">Højt BMI</td>
                      <td class="col-5">
                        <input type="date" name="date4" [(ngModel)]="date">
                        <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate()">Tilføj dato</button>
                      </td>
                    </tr>
                    <tr>
                      <td class="col-5" scope="row">Observation og pleje af mor i forbindelse med sectio</td>
                      <td class="col-5">
                        <input type="date" name="date4" [(ngModel)]="date">
                        <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate()">Tilføj dato</button>
                      </td>
                    </tr>
                    <tr>
                      <td class="col-5" scope="row">Administration af smertelindring, generelt og ved sectio</td>
                      <td class="col-5">
                        <input type="date" name="date4" [(ngModel)]="date">
                        <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate()">Tilføj dato</button>
                      </td>
                    </tr>
                    <tr>
                      <td class="col-5" scope="row">Antibiotika IV</td>
                      <td class="col-5">
                        <input type="date" name="date4" [(ngModel)]="date">
                        <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate()">Tilføj dato</button>
                      </td>
                    </tr>
                    <tr>
                      <td class="col-5" scope="row">Injektion IM</td>
                      <td class="col-5">
                        <input type="date" name="date4" [(ngModel)]="date">
                        <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate()">Tilføj dato</button>
                      </td>
                    </tr>
                    <tr>
                      <td class="col-5" scope="row">Medicin per os</td>
                      <td class="col-5">
                        <input type="date" name="date4" [(ngModel)]="date">
                        <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate()">Tilføj dato</button>
                      </td>
                    </tr>
                    <tr>
                      <td class="col-5" scope="row">Observation og pleje af mor med anæmi</td>
                      <td class="col-5">
                        <input type="date" name="date4" [(ngModel)]="date">
                        <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate()">Tilføj dato</button>
                      </td>
                    </tr>
                    <tr>
                      <td class="col-5" scope="row">Observation og pleje af mor med gestationel diabetes / diabetes mellitus</td>
                      <td class="col-5">
                        <input type="date" name="date4" [(ngModel)]="date">
                        <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate()">Tilføj dato</button>
                      </td>
                    </tr>
                    <tr>
                      <td class="col-5" scope="row">Observation og pleje af mor med infektion</td>
                      <td class="col-5">
                        <input type="date" name="date4" [(ngModel)]="date">
                        <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate()">Tilføj dato</button>
                      </td>
                    </tr>
                    <tr>
                      <td class="col-5" scope="row">Observation og pleje af mor med anæmi</td>
                      <td class="col-5">
                        <input type="date" name="date4" [(ngModel)]="date">
                        <button name="sdf" class="btn btn-secondary btn-sm" (click)="OnAddDate()">Tilføj dato</button>
                      </td>
                    </tr>
                  </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>