<h1>Udfyld refleksionsark</h1>
<div class="reflection">
  <form>
    <div class="row">
      <div class="col-12">
        <h2>Refleksionsark
          <span id="reflectionCount">11 - </span>
          <input type="text" id="title" placeholder="Titel på refleksionsark">
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="line">
          <strong>Jordemorder studerende</strong>
         <span>Julie Bang Larsen, 4. semester</span>
        </div>
      </div>
    </div>
    <!-- <div class="form-group">
      <label for="title">Titel</label>
      <input type="text" class="form-control" id="title" placeholder="Titel">
    </div>
    <div class="form-group">
      <label for="student">Jordemorder studerende</label>
      <input type="text" class="form-control" id="student" placeholder="Studerende">
    </div>
    <div class="form-group">
      <label for="lecturer">Underviser</label>
      <input type="text" class="form-control" id="lecturer" placeholder="Underviser">
    </div>
    <div class="form-group">
      <label for="reflectionnumber">Refleksion nr.</label>
      <input type="text" class="form-control" id="reflectionnumber" placeholder="Refleksion nr.">
    </div>
    <div class="form-group">
      <label for="birth">Fødsel</label>
      <input type="text" class="form-control" id="birth" placeholder="Fødsel">
    </div>
    <div class="form-group">
      <label for="plannumber">Vagt nr.</label>
      <input type="text" class="form-control" id="plannumber" placeholder="Vagt nr.">
    </div>
    <div class="form-group">
      <label for="weeknumber">Uge i perioden</label>
      <input type="number" class="form-control" id="weeknumber" placeholder="Uge i perioden">
    </div>
    <div class="form-group">
      <label for="date">Dato</label>
      <input type="date" class="form-control" id="date" placeholder="Dato">
    </div>
    <div class="form-group">
      <label for="description">Beskrivelse af forløbet/situationen (kvinden/familien)</label>
      <textarea class="form-control" id="description" placeholder="Beskrivelse af forløbet/situationen (kvinden/familien)"></textarea>
    </div>
    <button type="submit" class="btn btn-success">Opret refleksionsark</button> -->
  </form>
</div>