<div class="container-fluid">
  <div class="row">
    <form class="createUser" (ngSubmit)="f" #f="ngForm">
      <h3>Opret en bruger</h3>
      <div class="form-group">
        <label>E-mail</label>
        <input type="email" email required name="email" [(ngModel)]="email" class="form-control" />
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" name='password' required minlength="6" placeholder="Enter password" [(ngModel)]="password" class="form-control"
        />
      </div>
      <div class="form-group">
        <label>Navn</label>
        <input type="text" name="firstName" placeholder="Fornavn" [(ngModel)]="firstName" class="form-control" />
      </div>
      <div class="form-group">
        <label>Mellemnavn</label>
        <input type="text" name="middelName" placeholder="Mellemnavn" [(ngModel)]="middelName" class="form-control" />
      </div>
      <div class="form-group">
        <label>Efternavn</label>
        <input type="text" name="lastName" placeholder="Efternavn" [(ngModel)]="lastName" class="form-control" />
      </div>
      <div class="form-group">
        <label>Telefonnummer</label>
        <input type="text" name="phoneNumber" placeholder="Telefonnummer" [(ngModel)]="phoneNumber" class="form-control" />
      </div>
      <div class="form-group">
        <label>Studienummer</label>
        <input type="number" name="studentNumber" placeholder="Studienummer" [(ngModel)]="studentNumber" class="form-control" />
      </div>
      <div class="form-group">
        <label>Gade</label>
        <input type="text" name="street" placeholder="Gade, nummer og etage" [(ngModel)]="street" class="form-control" />
      </div>
      <div class="form-group">
        <label>Postnummer</label>
        <input type="number" name="zip" placeholder="Postnummer" [(ngModel)]="zip" class="form-control" />
      </div>
      <div class="form-group">
        <label>Semester</label>
        <input type="text" required name="term" [(ngModel)]="term" class="form-control" placeholder="Semester" />
      </div>
      <div class="form-group">
        <label>By</label>
        <input type="text" name="city" placeholder="By" [(ngModel)]="city" class="form-control" />
      </div>
      <button class="btn btn-primary" type="submit" (click)="onCreate()">Opret bruger</button>
    </form>
  </div>
</div>