.login{
    text-align: center;
    display: inline-block;
    width: 25%;
    padding: 1%;
    border: 1px solid lightgray;
    margin: 0 auto;
}
.button{
    background-color: rgba(141, 209, 202, 0.74);

}