<nav class="navbar navbar-expand-lg navbar-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Vagtplan
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false" [ngClass]="schemaClass()">
          Erfaringsskema
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="udfyld-erfaringsskema" routerLinkActive="active">Udfyld erfaringsskema</a>
          <a class="dropdown-item" routerLink="tidligere-erfaringsskema" routerLinkActive="active">Tidligere erfaringsskemaer</a>
          <a class="dropdown-item" routerLink="eu-erfaringsskema" routerLinkActive="active">EU erfaringsskema</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false" [ngClass]="reflectionClass()">
          Refleksionsark
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="udfyld-refleksionsark" routerLinkActive="active">Udfyld refleksionsark</a>
          <a class="dropdown-item" routerLink="tidligere-refleksionsark" routerLinkActive="active">Tidligere refleksionsark</a>
          <a class="dropdown-item" routerLink="noter" routerLinkActive="active">Noter</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false" [ngClass]="profileClass()">
          Profil
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="min-profil" routerLinkActive="active">Min profil</a>
          <a class="dropdown-item" routerLink="laeringsstatistik" routerLinkActive="active">Læringsstatistik</a>
          <a class="dropdown-item" routerLink="praktik" routerLinkActive="active">Praktikforløb</a>
          <a class="dropdown-item" routerLink="indstillinger" routerLinkActive="active">Indstillinger</a>
          <a class="dropdown-item" routerLink="hjaelp" routerLinkActive="active">Hjælp</a>
          <a class="dropdown-item" routerLink="login" routerLinkActive="active">Log ind</a>
        </div>
      </li>
    </ul>
  </div>
</nav>