body {
  font-size: 14px;
  font-family: helvetica-w01-bold, helvetica-w02-bold, helvetica-lt-w10-bold, sans-serif;
}
.reflection {
  background-color: rgba(204, 204, 204, 0.14);
  padding: 10px;
}
h2 {
  color: #41BAAE;
  font: normal normal normal 18px/1.4em futura-lt-w01-light, sans-serif;
  display: inline;
}
#reflectionSheetNumber {
  color: #A0A09F;
}
#title {
  font: normal normal normal 18px/1.4em futura-lt-w01-light, sans-serif;
  color: #A0A09F;
}
input {
  outline: none;
  color: #A0A09F;
  max-width: 100%;
  background-color: transparent;
  border: none;
}
#title::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font: normal normal normal 18px/1.4em futura-lt-w01-light, sans-serif;
  opacity: 1;
  /* Firefox */
}
#title:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font: normal normal normal 18px/1.4em futura-lt-w01-light, sans-serif;
}
#title::-ms-input-placeholder {
  /* Microsoft Edge */
  font: normal normal normal 18px/1.4em futura-lt-w01-light, sans-serif;
}
.addcomment {
  margin-top: 10px;
  margin-bottom: 10px;
}
.addcomment + button {
  border: 1px solid #2F2E2E;
}
textarea {
  width: 100%;
  height: 100px;
  resize: none;
  padding: 5px;
}
textarea::placeholder,
input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #A0A09F;
  opacity: 1;
  /* Firefox */
}
textarea:-ms-input-placeholder,
input::placeholder {
  /* Internet Explorer 10-11 */
  color: #A0A09F;
}
textarea::-ms-input-placeholder,
input::placeholder {
  /* Microsoft Edge */
  color: #A0A09F;
}
.line {
  padding-top: 50px;
  border-bottom: 2px solid #605e5e;
  margin-bottom: 20px;
}
.thin-line {
  border-bottom: 1.5px solid #605e5e;
  margin-bottom: 20px;
}
strong {
  color: #2F2E2E;
}
.line strong + span {
  font-style: italic;
}
.thin-line strong + span {
  font-style: normal;
}
.description {
  margin-top: 30px;
}
.btn-success,
.btn-success:hover {
  background-color: #41BAAE;
  border-color: #41BAAE;
}
.btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled):active,
.show > .btn-success.dropdown-toggle {
  background-color: #41BAAE;
  border-color: #41BAAE;
}
.btn-success.focus,
.btn-success:focus {
  background-color: #41BAAE;
  border-color: #41BAAE;
  box-shadow: none;
}
ul li h2 {
  color: #DE5021;
}
li {
  list-style: none;
  padding-bottom: 10px;
}
ul {
  padding-left: 0;
  padding-top: 20px;
}
.fa-angle-down,
.fa-angle-right {
  color: #41BAAE;
  padding-left: 10px;
  font-size: 25px;
  vertical-align: bottom;
}
.term {
  cursor: pointer;
  display: inline-block;
}
.comment {
  background-color: #41BAAE;
  padding: 10px;
  position: relative;
  margin-bottom: 40px;
}
.comment:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 10%;
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-top-color: #41BAAE;
  border-bottom: 0;
  border-left: 0;
  margin-left: -10px;
  margin-bottom: -40px;
  transform: rotate(80deg);
}
.comment p {
  color: #e7e7e7;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #41BAAE;
  background-color: rgba(204, 204, 204, 0.14);
  border: 0;
  border-radius: 10px 10px 0 0;
}
.nav-tabs .nav-item.show .nav-link span,
.nav-tabs .nav-link.active span {
  color: #2F2E2E;
}
a.nav-item.nav-link {
  color: #41BAAE;
}
a.nav-item.nav-link span {
  color: #2F2E2E;
}
.nav-tabs {
  border-bottom: 1px solid #fff;
  margin-bottom: 1px;
}
pre {
  font-size: 1rem;
  font-weight: normal;
  font-family: helvetica-w01-bold, helvetica-w02-bold, helvetica-lt-w10-bold, sans-serif;
  margin-bottom: 0;
}
.bigScreen {
  display: none;
}
.smallScreen {
  display: none;
}
@media screen and (max-width: 768px) {
  .smallScreen {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .bigScreen {
    display: block;
  }
}
