<h1>EU Erfaringskema</h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-10">
      <div class="accordion" id="accordion">
        <div class="card">
          <div class="card-header">
            <h5 class="mb-0">
              <button class="btn btn-success" style="white-space: normal" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                åben/luk her
              </button>
            </h5>
          </div>
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">          
            <div class="card-body">
              <div class="row">
                <div class="col-sm-4 box">
                  <p>Krav iht. EU direktiv</p>
                </div>
                <div class="col-sm-3 box">
                  <p>Semester</p>
                </div>
                <div class="col-sm-3 box">
                  <p>Kommentarer</p>
                </div>
              </div>
              <div class="row">
                <div class="row move">
                  <div class="col-sm-4 box">
                    <p>Samlet antal graviditetsundersøgelser, 
                    hvor du har været aktivt deltagende</p>
                  </div>
                  <div class="col-sm-3 box">
                    2. semester
                    <input type="text" name="Samlet antal graviditetsundersøgelser" >
                  </div>
                  <div class="col-sm-3 box">
                    <textarea></textarea>
                  </div>
                </div>
                <div class="row move">
                  <div class="col-sm-4">
                    <p class="empty">Samlet antal graviditetsundersøgelser, hvor du har været aktivt deltagende</p>
                  </div>
                  <div class="col-sm-3">
                    4. semester
                    <input type="text" name="Samlet antal graviditetsundersøgelser" >
                  </div>
                  <div class="col-sm-3">
                    <textarea></textarea>
                  </div>
                </div>
                <div class="row move">
                  <div class="col-sm-4">
                    <p class="empty">Samlet antal graviditetsundersøgelser, hvor du har været aktivt deltagende</p>
                  </div>
                  <div class="col-sm-3">
                    6. semester
                    <input type="text" name="Samlet antal graviditetsundersøgelser" >
                  </div>
                  <div class="col-sm-3">
                    <textarea></textarea>
                  </div>
                </div>
                <div class="row move">
                  <div class="col-sm-4">
                    <p class="empty">Samlet antal graviditetsundersøgelser, hvor du har været aktivt deltagende</p>
                  </div>
                  <div class="col-sm-3">
                    7. semester
                    <input type="text" name="Samlet antal graviditetsundersøgelser" >
                  </div>
                  <div class="col-sm-3">
                    <textarea></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>