<h1>Dine noter</h1>
<div class="row sort">
    <div class="col-12">
        <strong class="sortNotes">
            + Sorter noter
        </strong>
        <div>
            <span (click)="getSotedNotes(false, false, false)">- Alle noter</span>
        </div>
        <div>
            <span (click)="getSotedNotes(true, false, false)">- Noter fra erfaringsskema</span>
        </div>
        <div>
            <span (click)="getSotedNotes(false, true, false)">- Noter fra tidligere praktikforløb</span>
        </div>
        <div>
            <span (click)="getSotedNotes(false, false, true)"> - Noter fra kalender</span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-4">
        <div class="list-group" id="list-tab" role="tablist">
            <a *ngFor="let note of (notes | async); let i = index;" class="list-group-item list-group-item-action" [ngClass]="{'active':i == 0}"
                id="{{note.ID}}" data-toggle="list" href="#{{note.ID}}-list" role="tab">{{note.Headline}}</a>
        </div>
    </div>
    <div class="col-12 col-md-8">
        <div class="tab-content notes" id="nav-tabContent">
            <div *ngFor="let note of (notes | async); let i = index;" class="tab-pane fade" [ngClass]="{'show active':i == 0}" id="{{note.ID}}-list"
                role="tabpanel" [attr.aria-labelledby]="note.ID">
                <div class="date">{{note.Date | date: 'dd.MM.yyyy'}}</div>
                <h2>{{note.Headline}}</h2>
                <pre>{{note.Text}}</pre>
            </div>
        </div>
    </div>
</div>