<div class="container-fluid">
  <div class="row">
    <form class="createInternship" (ngSubmit)="f" #f="ngForm">
      <h3>Opret praktik sted</h3>
      <div class="form-group">
        <label>Semester</label>
        <input type="text" required name="term" [(ngModel)]="term" class="form-control" placeholder="Semester" />
      </div>
      <div class="form-group">
        <label>Praktik sted</label>
        <input type="text" required name="place" placeholder="Praktik sted" [(ngModel)]="place" class="form-control" />
      </div>
      <div class="form-group">
        <label>Gade</label>
        <input type="text" name='street' placeholder="Gade og nummer" [(ngModel)]="street" class="form-control" />
      </div>
      <div class="form-group">
        <label>Postnummer</label>
        <input type="number" name="zip" placeholder="Postnummer" [(ngModel)]="zip" class="form-control" />
      </div>
      <div class="form-group">
        <label>By</label>
        <input type="text" name="city" placeholder="By" [(ngModel)]="city" class="form-control" />
      </div>
      <h4>tildelt jordemoder</h4>
      <div class="form-group">
        <label>Navn</label>
        <input type="text" name="midwifeName" placeholder="Fulde navn" [(ngModel)]="midwifeName" class="form-control" />
      </div>
      <div class="form-group">
        <label>Telefonnummer</label>
        <input type="text" name="midwifePhoneNumber" placeholder="Telefonnummer" [(ngModel)]="midwifePhoneNumber" class="form-control" />
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="Email" name="midwifeEmail" placeholder="Email" [(ngModel)]="midwifeEmail" class="form-control" />
      </div>
      <h4>Praktikvejleder</h4>
      <div class="form-group">
        <label>Navn</label>
        <input type="text" name="internshipSupervisorName" placeholder="Navn på praktikvejleder" [(ngModel)]="internshipSupervisorName" class="form-control" />
      </div>
      <div class="form-group">
        <label>Telefonnummer</label>
        <input type="text" name="internshipSupervisorPhone" placeholder="Telefonnummer til praktikvejleder" [(ngModel)]="internshipSupervisorPhone" class="form-control" />
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="email" name="internshipSupervisorEmail" placeholder="Email til praktikvejleder" [(ngModel)]="internshipSupervisorEmail" class="form-control" />
      </div>
      <h4>Praktikansvarlig underviser</h4>
      <div class="form-group">
        <label>Navn</label>
        <input type="text" name="internshipTeacherName" placeholder="Navn på praktikansvarlig underviser" [(ngModel)]="internshipTeacherName" class="form-control" />
      </div>
      <div class="form-group">
        <label>Telefonnummer</label>
        <input type="text" name="internshipTeacherPhone" placeholder="Telefonnummer til praktikansvarlig underviser" [(ngModel)]="internshipTeacherPhone" class="form-control" />
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="email" name="internshipTeacherEmail" placeholder="Email til praktikansvarlig underviser" [(ngModel)]="internshipTeacherEmail" class="form-control" />
      </div>
      <button class="btn btn-primary" type="submit"(click)="onCreate()" [disabled]="!f.form.valid">Opret bruger</button>
    </form>
  </div>
</div>
