#profilePic {
  max-width: 100%;
}
.profileText {
  font: normal normal normal 22px/1.4em futura-lt-w01-light, sans-serif;
  color: #2F2E2E;
}
.profileText .row {
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  #profilePic {
    margin-bottom: 40px;
    max-width: 220px;
  }
}
