<h1>Min profil</h1>
<div *ngFor="let profile of profiles | async">
    <div class="row justify-content-center profileText">
        <div class="col-3" *ngIf="downloadURL | async; let url">
            <!-- <img src="{{imagePath}}" id="profilePic" /> -->
            <img [src]="url" id="profilePic" class="rounded-circle">
        </div>
        <div class="col-5 offset-1">
            <div class="row">
                <div class="col-12">
                    Studienummer: {{profile.StudentNumber}}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {{profile.FirstName}} {{profile.MiddelName}} {{profile.LastName}}
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    UCN Jordmoder
                </div>
                <div class="col-6">
                    {{profile.Term}}
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    Praktik
                </div>
                <div class="col-6">
                    Sygehus Syd
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {{profile.PhoneNumber}}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {{profile.Email}}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {{profile.Street}} {{profile.Zip}} {{profile.City}}
                </div>
            </div>
        </div>
    </div>
</div>