#profilePic {
  max-width: 100%;
  border-radius: 50% 50%;
}
.profileText {
  font: normal normal normal 22px/1.4em futura-lt-w01-light, sans-serif;
  color: #2F2E2E;
}
.profileText .row {
  margin-bottom: 40px;
}
