<h1>Udfyld refleksionsark</h1>
<div class="reflection" *ngFor="let r of reflections | async">
  <form>
    <div class="row">
      <div class="col-12">
        <h2>Refleksionsark
          <span id="reflectionSheetNumber">{{reflectionCount}} - </span>
          <input type="text" id="title" name="title" placeholder="Titel på refleksionsark" [(ngModel)]="title">
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="line">
          <strong>Jordemorder studerende</strong>
          <span id="fullName">{{r.FullName}}, {{r.Term}}</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4">
        <strong>Underviser</strong>
        <input id="teacher" name="teacher" type="text" [(ngModel)]="teacher">
      </div>
      <div class="col-12 col-md-4">
        <strong>Refleksion nr.</strong>
        <input id="reflectionCount" name="reflectionCount" type="text" [(ngModel)]="reflectionCount" disabled>
      </div>
      <div class="col-12 col-md-4">
        <strong>Fødsel</strong>
        <input id="birth" name="birth" type="number" placeholder="Indtast her..." [(ngModel)]="birth">
      </div>
      <div class="col-12">
        <div class="thin-line">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4">
        <strong>Vagt nr.</strong>
        <input id="number" name="number" type="number" placeholder="Indtast her..." [(ngModel)]="number">
      </div>
      <div class="col-12 col-md-4">
        <strong>Uge i perioden</strong>
        <input id="week" name="week" type="number" placeholder="Indtast her..." [(ngModel)]="week">
      </div>
      <div class="col-12 col-md-4">
        <strong>Dato</strong>
        <input id="date" name="date" type="date" [(ngModel)]="date">
      </div>
      <div class="col-12">
        <div class="thin-line">
        </div>
      </div>
    </div>
    <div class="row description">
      <div class="col-12">
        <strong>Beskrivelse af forløbet / situationen</strong> (kvinden/familien)
      </div>
      <div class="col-12">
        <textarea id="birthDescription" name="birthDescription" placeholder="Indtast en beskrivelse af forløbet/situationen her..."
          [(ngModel)]="birthDescription"></textarea>
      </div>
    </div>
    <div class="row description">
      <div class="col-12">
        <strong>Jdm.faglige overvejelser for omsorgen / observationer / handlingsforslag</strong>
      </div>
      <div class="col-12">
        <textarea id="considerations" name="considerations" placeholder="Indtast de jdm.faglige overvejelser for omsorgen/observationer/handlingsforslag her..."
          [(ngModel)]="considerations"></textarea>
      </div>
    </div>
    <div class="row description">
      <div class="col-12">
        <strong>Individuelle mål</strong>
      </div>
      <div class="col-12">
        <textarea id="individualGoals" name="individualGoals" placeholder="Indtast dine individuelle mål her..." [(ngModel)]="individualGoals"></textarea>
      </div>
    </div>
    <div class="row description">
      <div class="col-12">
        <strong>Refleksion</strong>
      </div>
      <div class="col-12">
        <textarea id="reflectionText" name="reflectionText" placeholder="Indtast din refleksion her..." [(ngModel)]="reflectionText"></textarea>
      </div>
    </div>
    <div class="row description">
      <div class="col-12">
        <strong>Hvad vil jeg arbejde videre med</strong>
      </div>
      <div class="col-12">
        <textarea id="continueWith" name="continueWith" placeholder="Indtast hvad du vil arbejde videre med her..." [(ngModel)]="continueWith"></textarea>
      </div>
    </div>
    <div class="row description">
      <div class="col-12">
        <strong>Litteratur</strong>
      </div>
      <div class="col-12">
        <textarea id="literature" name="literature" placeholder="Indtast den brugte litteratur her..." [(ngModel)]="literature"></textarea>
      </div>
    </div>
    <div class="row description">
      <div class="col-12">
        <button type="button" class="btn btn-success" (click)="onUpdate()">Opdater refleksionsark</button>
      </div>
    </div>
  </form>
</div>