h1 {
  font: normal normal normal 25px/1.4em futura-lt-w01-light, sans-serif;
  color: #DE5021;
}
label {
  font-weight: bold;
}
input {
  outline: none;
  color: #A0A09F;
  max-width: 100%;
  background-color: transparent;
  border: none;
}
#title::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font: normal normal normal 18px/1.4em futura-lt-w01-light, sans-serif;
  opacity: 1;
  /* Firefox */
}
#title:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font: normal normal normal 18px/1.4em futura-lt-w01-light, sans-serif;
}
#title::-ms-input-placeholder {
  /* Microsoft Edge */
  font: normal normal normal 18px/1.4em futura-lt-w01-light, sans-serif;
}
textarea {
  width: 100%;
  height: 100px;
  resize: none;
  padding: 5px;
  outline: none;
}
textarea::placeholder,
input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #A0A09F;
  opacity: 1;
  /* Firefox */
}
textarea:-ms-input-placeholder,
input::placeholder {
  /* Internet Explorer 10-11 */
  color: #A0A09F;
}
textarea::-ms-input-placeholder,
input::placeholder {
  /* Microsoft Edge */
  color: #A0A09F;
}
.fc-toolbar h2 {
  font: normal normal normal 16px/1.4em futura-lt-w01-light, sans-serif;
  text-transform: capitalize;
  color: #41BAAE;
}
.fc-day-header {
  text-transform: capitalize;
}
.fc button,
.fc-state-default {
  background-color: transparent;
  background-image: none;
  border: 0;
  border-color: none;
  box-shadow: none;
  height: auto !important;
  outline: none;
}
.fc button .fc-icon {
  color: #41BAAE;
}
.shift {
  color: #41BAAE;
  font-size: 26px;
  text-align: right;
}
