<div class="container-fluid">
  <div class="row">
    <h1>Tidligere erfaringsskemaer</h1>
    <div class="col-12">
      <div class="col-5 spc">
        <button class="btn btn-success">2. Semester</button>
      </div>
      <div class="col-5 spc">
        <button class="btn btn-success" (click)="OnFourthSemester()">4. Semester</button>
      </div>
      <div class="col-5 spc">
        <button class="btn btn-success">6. Semester</button>
      </div>
      <div class="col-5 spc">
        <button class="btn btn-success">7. Semester</button>
      </div>
    </div>
  </div>
</div>
